WCF/ConsumeCalculatorService/ConsumeCalculatorService/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AdditionOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number1" type="xs:double" />
        <xs:element minOccurs="0" name="number2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdditionOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdditionOperationResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubractionOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number1" type="xs:double" />
        <xs:element minOccurs="0" name="number2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubractionOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubractionOperationResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>